.background {
  margin: 0;
   margin-bottom:  60px;
  height: 100%;
  background-color: #fff;
  background-image:
    linear-gradient(to right,hsl(0 0% 96%/ 1) 1px, transparent 1px),
    linear-gradient(to bottom,hsl(0 0% 96%/ 1) 1px, transparent 1px);
  background-size: 40px 40px;
  gap: 40px;
}
.titleContainer{
  display: flex;
  justify-content: center;
  align-items:center;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: clamp(60px, 10vw, 100px);
  letter-spacing: -0.05em;
  line-height: 1.2;
  color: #111111;
  text-align: center;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top {
  transform: translateY(-40px);
}

.bottom {
  margin-top: -20px;
}

 .topCards{
  padding: 20px 0 40px 176px;
  display: flex;
  gap: 400px;
 }

 .bottomCards{
  padding: 0 0 0 250px;
  display: flex;
  gap: 500px;
 }



.card {
  padding: 20px 30px;
  background-color: #f0f0f0;
  cursor: pointer;
 width: 140px;
 height: 140px;
  font-weight: 700;
  transition: all 0.3s ease;
  text-align: center;
    transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}

.card:hover {
  transform: translateY(-5px);
  background-color: #ff6b6b;
  color:#fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
