.projects {
  padding: 30px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (min-width: 768px) {
  .projects {
    padding: 50px 0 130px 0;
  }
}
