.card {
  border: 1px solid #fff;
  border-radius: 40px;
  width: 328px;
  height: auto;
  box-shadow: 0 6px 6px 0 rgba(247, 247, 247, 0.25);
  background: rgba(255, 255, 255, 0);
  padding: 15px 14px 36px;
}
.image {
  border-radius: 40px;
  width: 300px;
  height: 260px;
  margin-bottom: 30px;
}
.titleBox {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.btnGithub {
  border-radius: 100%;
  background: #f3f3f3;
  width: 60px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 24px;
}
.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  color: #fff;
  margin-bottom: 34px;
}
.textBox {
  max-width: 300px;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnLive {
  border: 1px solid #fff;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 16px 26px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .card {
    width: 1000px;
    height: auto;
    display: flex;

    padding: 50px 54px;
    gap: 40px;
  }
  .secondPart {
    max-width: 620px;
  }
  .image {
    border-radius: 40px;
    width: 400px;
    height: 330px;
    margin-bottom: 0;
  }
  .titleBox {
    margin-top: 0;
  }
  .title {
    font-size: 30px;
    margin-bottom: 42px;
  }
  .textBox {
    max-width: 500px;
  }
  .text {
    font-size: 18px;
    margin-bottom: 70px;
  }
  .wrap {
    display: block;
    margin-left: 280px;
  }
}
