.card {
  border: 1px solid #fff;
  border-radius: 40px;
  width: 328px;
  height: 644px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0);
  padding: 15px 14px 36px;
}
.image {
  border-radius: 40px;
  width: 300px;
  height: 260px;
  margin-bottom: 30px;
}
.titleBox {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.btnGithub {
  border-radius: 100%;
  background: #f3f3f3;
  width: 68px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  color: #fff;
  margin-bottom: 28px;
}
.textBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLive {
  border: 1px solid #fff;
  border-radius: 40px;
  width: 150px;
  height: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  padding: 16px 26px;
  margin: 0 auto;
}
