footer {
  position: fixed; /* фіксуємо футер на екрані */
  bottom: 20px; /* відступ від низу */
  left: 50%; /* по центру горизонтально */
  transform: translateX(-50%); /* центр по горизонталі */
  display: flex;
  justify-content: center;
  z-index: 100;
  width: auto;
}

.box {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 14px;
  padding: 8px 16px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.menuItem {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 50%;
  transition: transform 0.3s ease, z-index 0.3s ease;
  cursor: pointer;
}

.menuItem:hover {
  transform: scale(1.5);
  z-index: 10;
}

.activeFooter {
  transform: translateY(-10px);
}

.icon {
  fill: #676666;
}
.icon:hover {
  fill: #ff6b6b;
}
@media (max-width: 768px) {
  .box {
    width: 320px;
    height: 48px;
    gap: 6px;
  }
  .menuItem {
    border-radius: 100%;
    width: 32px;
    height: 32px;
  }

  .icon {
    width: 17.6px;
    height: 17.6px;
  }
}
