:root{
  --font-family: 'Inter', sans-serif;

    /* Ваги шрифтів */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  /* Colors */

  --grid: rgba(69, 69, 69, 0.08);
}

body{
 padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-family); */
  font-weight: var(--font-weight-regular);
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 48px 54px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
 /*  font-family: var(--font-family); */
  font-weight: var(--font-weight-regular);
}

p {
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}
input {
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 390px) {
  .container {
    padding: 50px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 48px 54px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding: 48px 54px;
    max-width: 1400px;
    margin: auto;
  }
}



